{
  "jsc": {
    "target": "es2020",
    "loose": true,
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true
      },
      "optimizer": {
        "jsonify": {
          "minCost": 1024
        }
      }
    }
  }
}
